<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>GSGU49WC63</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.base6998cc8da86f841249914a41.app</key>
        <string>match AppStore com.base6998cc8da86f841249914a41.app</string>
    </dict>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
</dict>
</plist>